.possible_image{
    /*margin: auto;*/
    max-width: 72px;
    max-height: 72px;
    margin-left: 20%;
    margin-right: 20%;
}
.col{
    cursor: pointer ;
}
#yes,#no,#asked_img_question{
    display: none;
}
#leave_now{
    height: 48px;
    right:1px;
    margin-right: 12px;
}
.container{
    /*-fluid*/
    /*padding-left: 5%;*/
    /*padding-right: 5%;*/
    /*height: 446px;*/
    margin-right: auto;
    margin-left: auto;
}

.layer_1{
    position: absolute;
    left: 50px;
    top: 20px;

}
.layer_2{
    position: absolute;
    left: 50px;
    top: 20px;
}


#opponent_profile_card{
    display: none;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}



#guess{
    margin-top: 20px;
    border-radius: 35px;
}
#chat_box_top_div{
    /*width: max-content;*/
    float: right
}

#chat_for_kids{
    /*chat_box*/
    background-clip: border-box;
    border: 10px solid rgba(0,0,0,.125);
    border-radius: 1rem;
    width: 100%;
    height: 366px;
    z-index: -100;

    overflow-y : scroll;

}
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 1rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

p{
    margin: 5px;
    padding-left: 10px;
    border-radius: 10px;
}
#top_title_container{
  margin-bottom: 25px;
  /*  height: 100px;*/
}
#title_your_image{
    margin-bottom: 0px;
}
#your_image{
    width: 150px;
    text-align: center;
    display: none;

}

#chat_title,#guess_title{
    border-radius: 25px;//0px 0px 20px 20px
    padding-bottom: 5px;
}
.your_text .opponent_text{
    margin-left: 10px;
    margin-right: 10px;
}
#guess_button_box{
    //padding-bottom: 20px;
}
.guess_btn{
    margin-left: 10px;
    margin-right: 10px;
}
#chat_input_box{
    border-radius: .9rem .0rem .0rem .9rem ;
}
#chat_send_btn{
    border-radius:  .0rem .9rem .9rem.0rem  ;
}
.empty{
    border: 0px;
    height: 77px;
}
.task_img{
    width: 50px;
    height: 50px;
    position: relative;
    right: 2.5px;
    margin: auto;

    /*float: left;*/
}
#chat_for_kids{

    /*margin: auto;*/
    /*display: table-cell;*/
}
.card_kid_img{
    width: 75px;
    height: 75px;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
}
#guess_back{
    display: none;
}
#guess{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
#guess_box{
    padding-bottom: 20px;
    /*height: 90px;*/
}
#my_img_guessed_by_opponent{
    position: initial;
}
.possible_image_guess{
    margin: auto;
}
p{
    display: grid;
}
/*#shopping_card_img,#log_out_img{*/
/*    background-color: #fefefe;*/
/*    padding: 10px;*/
/*    border-radius: 10px;*/
/*}*/
/*#shopping_card_img:hover,#log_out_img:hover{*/
/*    background-color: #cbc9c9;*/
/*}*/
/*#shopping_card_img,#log_out_img,#coin_img{*/
/*    width: 50px;*/
/*    height: 50px;*/
/*}*/
/*#coins{*/
/*    margin-top: 13px;*/
/*}*/
@media (min-width: 576px) {
    #title,#chat_title{
        font-size: 20px;
    }

    .container{
        margin-right: 1%;
        margin-left: 1%;
    }
    #chat_for_kids{
        height: 125px;
    }
    #chat_for_kids,#chat_box_input,#chat_title{
        width: 150%;
    }
    #your_image{
        width: 90px;
        height: auto;

    }
    #title_your_image{
        font-size: 8px;
    }
    .possible_image_guess{
        width: 50px;
        height: 50px;
    }
    .card_kid_img{
        width: 50px;
        height: 50px;
    }
    .task_img{
        width: 30px;
        height: 30px;
        right: 6px;
    }
    /*.possible_image{*/
    /*    min-width: 40px;*/
    /*    min-height: 40px;*/
    /*    */
    /*}*/
    /*#guess_box{*/
    /*    !*padding-bottom: 20px;*!*/
    /*    height: 90px;*/
    /*}*/
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    #title,#chat_title{
        font-size: 25px;
    }

    .container{
        margin-right: 5%;
        margin-left: 5%;
    }
    #chat_for_kids{
        height: 190px;
    }
    #chat_for_kids,#chat_box_input,#chat_title{
        width: 130%;
    }
    .possible_image_guess{
        width: 60px;
        height: 60px;
    }
    .card_kid_img{
        width: 60px;
        height: 60px;
    }
    .task_img{
        width: 40px;
        height: 40px;
        right: 6px;
    }
    /*#guess_box{*/
    /*    !*padding-bottom: 20px;*!*/
    /*    height: 100px;*/
    /*}*/
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    #title,#chat_title{
        font-size: 30px;
    }
    #chat_for_kids{
        height: 295px;
    }
    #chat_for_kids,#chat_box_input,#chat_title{
        width: 110%;
    }
    .possible_image_guess{
        width: 75px;
        height: 75px;
    }
    .card_kid_img{
        width: 70px;
        height: 70px;
    }
    .task_img{
        width: 50px;
        height: 50px;
        right: 6px;
    }
    #guess_box{
        /*padding-bottom: 20px;*/
        height: 120px;
    }
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    #title,#chat_title{
        font-size: 35px;
    }
    #chat_for_kids{
        height: 360px;
    }
    .container{
        margin-left: auto;
        margin-right: auto;
    }
    .possible_image_guess{
        max-width: 100px;
        max-height: 100px;
    }
    #guess_box{
        /*padding-bottom: 20px;*/
        height: 130px;
    }
}
