.ht200{
    height: 200px;
}
.ht150{
    height: 150px;
}
.ht130{
    height: 130px;
}
.ht100{
    height: 100px;
}
.ht90{
    height: 90px;
}
.ht80{
    height: 80px;
}
.ht70{
    height: 70px;
}
.ht60{
    height: 60px;
}
.ht50{
    height: 50px;
}
.ht40{
    height: 40px;
}
.ht30{
    height: 30px;
}
.ht20{
    height: 20px;
}
.wd300{
    width: 300px;
}
.wd200{
    width: 200px;
}
.wd150{
    width: 150px;
}
.wd100{
    width: 100px;
}
.wd90{
    width: 90px;
}
.wd80{
    width: 80px;
}
.wd70{
    width: 70px;
}
.wd60{
    width: 60px;
}
.wd50{
    width: 50px;
}
.wd40{
    width: 40px;
}
.wd30{
    width: 30px;
}
.wd20{
    width: 20px;
}

.ml50{
    margin-left: 50px;
}
.ml40{
    margin-left: 40px;
}
.ml30{
    margin-left: 30px;
}
.ml20{
    margin-left: 20px;
}
.ml10{
    margin-left: 10px;
}
.ml0{
    margin-left: 0px;
}

.mt50{
    margin-top: 50px;
}
.mt40{
    margin-top: 40px;
}
.mt30{
    margin-top: 30px;
}
.mt20{
    margin-top: 20px;
}
.mt10{
    margin-top: 10px;
}
.mt0{
    margin-top: 0px;
}


.mb50{
    margin-bottom: 50px;
}
.mb40{
    margin-bottom: 40px;
}
.mb30{
    margin-bottom: 30px;
}
.mb20{
    margin-bottom: 20px;
}
.mb10{
    margin-bottom: 10px;
}
.mb0{
    margin-bottom: 0px;
}

.mr50{
    margin-right: 50px;
}
.mr40{
    margin-right: 40px;
}
.mr30{
    margin-right: 30px;
}
.mr20{
    margin-right: 20px;
}
.mr10{
    margin-right: 10px;
}
.mr0{
    margin-right: 0px;
}

.pd_all0{
    padding: 0px;
}
.f_all0{
    float: none;
}

.wd70_p{
    width: 70%;
}

.wd30_p{
    width: 30%;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 1rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}