.card{
    width: 300px;
    height: 340px;
    margin: 10px;
}
#for_teacher{
    display: none;
}
#all_games{

    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
}

#chat_global{
    z-index: 50;
    height: 0px;
    width: 95vw;
    background: white;
    position: absolute;
    margin-left: 17px;
}
#chat_global_message{
    background-clip: border-box;
    border: 10px solid rgba(0,0,0,.125);
    width: 100%;
    height: 366px;
    z-index: -100;
    overflow-y : scroll;
}
#chat_title{
    top: 32px;
    border-radius: 25px 25px 0px 0px;
}
#chat_input_box{
    position: relative;
    bottom: 5px;
    border-radius: 0px 0px 0px 25px;
}
#chat_send_btn{
    position: relative;
    bottom: 5px;
    border-radius: 0px 0px 25px 0px;
}
.chat_massage{
    margin: 5px;
    padding-left: 10px;
    border-radius: 10px;
}
#online_img{
    position: relative;
    float: left;
    margin-left: 20px;
    top: 6px;
}
#sp-online{
    margin-left: 10px;
    position: relative;
    font-size: initial;
}
.chat_menu{
    width: 2.5rem;
    height: 2.5rem;
    position: fixed;
    border-radius: 50%;
    z-index: 10000;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
#buffer_counter{
    width: 1rem;
    height: 1rem;
    font-size: 0.5rem;
}